.navbar {
  background: #000; }
  .navbar .nav-item {
    padding-left: 1em; }
    .navbar .nav-item .nav-link {
      text-transform: uppercase; }

.carousel-item {
  height: 450px; }

.carousel-img-1 {
  background: url("../img/image1.jpeg");
  background-size: cover; }

.carousel-img-2 {
  background: url("../img/image2.jpeg");
  background-size: cover; }

.carousel-img-3 {
  background: url("../img/image3.jpeg");
  background-size: cover; }

#home-icon i {
  font-size: 50px; }

#get-started {
  position: relative;
  background: url("../img/bg1.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 250px; }
  #get-started .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

#home-video {
  position: relative;
  background: url("../img/people.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 250px; }
  #home-video .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    #home-video .dark-overlay .fa {
      font-size: 50px;
      color: #ff0000; }

#photo-gallery img {
  min-height: 250px; }

#main-footer {
  background: #000; }

#about-header {
  background: url("../img/image1.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 200px; }

#about-info img {
  width: 350px;
  height: 350px; }

#icon-box .fa {
  font-size: 50px; }

#testimonial .slick-prev:before,
#testimonial .slick-next:before {
  color: #000; }

#services-header,
#blog-header,
#contact-header {
  background: url("../img/image3.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 200px; }

@media (max-width: 767px) {
  .nav-item {
    padding-left: 0 !important; }
  #get-started {
    min-height: 300px; } }

@media (max-width: 480px) {
  .carousel h2 {
    font-size: 2.5rem; }
  #get-started {
    min-height: 400px; } }
